<%= form_for @person, remote: true, html: { class: "js-submit-on-change" } do |person_form| %>
  <p>
    <%= person_form.label :name %>
    <%= person_form.text_field :name %>
    <%= person_form.hidden_field :id %>
  </p>
  <h3>Children</h3>
  <ul class="js-children">
    <% relatives = @person.and_ancestors %>
    <%= person_form.collection_check_boxes(:child_ids, Person.all, :id, :name) do |box| %>
      <li>
        <%= box.check_box(disabled: relatives.include?(box.object)).concat(box.label) %>
      </li>
    <% end %>
  </ul>
  <h3>Parents</h3>
  <ul class="js-parents">
    <% relatives = @person.and_descendants %>
    <%= person_form.collection_check_boxes(:parent_ids, Person.all, :id, :name) do |box| %>
      <li>
        <%= box.check_box(disabled: relatives.include?(box.object)).concat(box.label) %>
      </li>
    <% end %>
  </ul>
  <p>
    <%= link_to "Done", people_path %>
    | <%= link_to "Reset", people_path %>
    <% if @person.persisted? %>
    | <%= link_to "Delete",
                  person_path(@person),
                  method: :delete,
                  data: { confirm: "This can't be undone." } %>
    <% end %>
  </p>
<% end %>
